.darkModeBg{
    background-color: black;
}
.darkModeBgColor{
    background-color: black;
    color: white;
}
.darkModeColor{
    color: white !important;
}
.darkModeBgColorBorder{
    background-color: black;
    color: white;
    border: white 1px solid;
}
.darkModeColorBlack{
    background-color:black; border:white solid 1px; color:white
}
.darkModeBgColor1Border{
    background-color:black; 
    border-bottom: white solid 1px;
}
