header{
    .logo{
        color: #2d3034;
        text-align: center;
        margin: 8vh 0;
    }
}
nav{
    width: 100%;
    background-color: white;
    div{
        &:nth-child(1){
            display: flex;
            justify-content: space-between;
            width: 60%;
            color: #6c757d;
            margin: auto;
            
            div{
                
                    display: flex;
                
            }
        }
    }
    button{
        background-color: white;
        border: 0;
        
    }
    button:focus{
        text-decoration: none;
    }

}
#white{
    
    background-color: white;
    border-radius: 10%;
    border: grey solid 1px;
    padding: 1vh;
    height: 0;
    margin-top: 2vh;
}
#black{
    background-color: black;
    border-radius: 10%;
    border: grey solid 1px;
    padding: 1vh;
    height: 0;
    margin-top: 2vh;
}
#connexion{
    margin: auto;
    height: 100%;
    border: 0;
    color: white;
    border-radius: 0;
    background-color: #6c757d;
    padding: 2vh;
}
// #3btns{   
//     display: flex;
// }

.banner{
    display: flex;
    margin-top: 2%;
    background-color: #f3f3f3;
    height: 66vh;
    margin-bottom: 6vh;
    
    div{
        margin: auto;
        &:nth-child(1){
            margin-top: 5%;
            margin-left: 39vh;
            h2{
                font-size: 6vh;
                color: #dd4545;
                margin-bottom: 2vh;
            }
            img{
                height: 12vh;
            }
            
            p{
                font-size: 2vh;
                color: #6c757d;
                margin-bottom: 5vh;
            }
            a{
                border: #dd4545;
                padding: 2vh 3vh;
                margin-left: 2%;
                font-size: 1.5vh;
                background-color: #dd4545;
                color: white;
                border-radius: 50px;
                text-decoration: none;
            }
        }
    
        &:nth-child(2){
            // margin-right: 0;
            img{
                height: 60vh;
                width: 80%;
            }
        }

    }
    
}

.sticky{
    position: fixed;
    top: 0;
    z-index: 1;
}
.sticky + .banner {
   padding-top : 1000px;
}