header{
    .logo{
        color: #2d3034;
        text-align: center;
        margin: 8vh 0;
        h1{
            font-size: 6vh;
        }
    }
}
nav{
    width: 100%;
    background-color: white;
    div{
        &:nth-child(1){
            display: flex;
            justify-content: space-between;
            width: 60%;
            color: #6c757d;
            margin: auto;
            
            div{
                margin-left: 2%;
            margin-right: 2%;    
                    display: flex;
                
            }
        }
    }
    button{
        background-color: white;
        border: 0;
        
    }
    button:focus{
        text-decoration: none;
    }
}
#white{
    background-color: white;
    border-radius: 10%;
    border: grey solid 1px;
    padding: 1vh;
    height: 0;
    margin-top: 2vh;
}
#black{
    background-color: black;
    border-radius: 10%;
    border: grey solid 1px;
    padding: 1vh;
    height: 0;
    margin-top: 2vh;
}
#connexion{
    margin: auto;
    height: 100%;
    border: 0;
    color: white;
    border-radius: 0;
    background-color: #6c757d;
    padding: 2vh;
}
.banner{
    display: flex;
    margin-top: 2%;
    background-color: #f3f3f3;
    height: 66vh;
    margin-bottom: 6vh;
    div{
        margin: auto;
        &:nth-child(1){
            margin-top: 5%;
            margin-left: 39vh;
            h2{
                font-size: 6vh;
                color: #dd4545;
                margin-bottom: 2vh;
            }
            img{
                height: 12vh;
            }
            p{
                font-size: 2vh;
                color: #6c757d;
                margin-bottom: 5vh;
            }
            a{
                border: #dd4545;
                padding: 2vh 3vh;
                margin-left: 2%;
                font-size: 1.5vh;
                background-color: #dd4545;
                color: white;
                border-radius: 50px;
                text-decoration: none;
            }
        }
        &:nth-child(2){
            img{
                height: 60vh;
                width: 80%;
            }
        }

    }
    
}

.sticky{
    position: fixed;
    top: 0;
    z-index: 1;
}
.sticky + .banner {
   padding-top : 1000px;
}
@media only screen and (max-width: 321px){
    nav>div:nth-child(1){
        width: 100%;
        flex-wrap: wrap;
        margin: auto;
    }
    nav>div:nth-child(1)>div{
        margin: auto;
    }
    header .logo{
        margin: 0;
    }
    nav{
        button{
            margin: 5%;
        }
    }
    #white{
        margin-right: 2%;
    }
    #dark{
        margin-right: 2%;
    }
    .banner{
        height: auto;
        div{
            margin-left: 0 !important;
            margin-right: 0 !important;
            margin: auto;
            &:nth-child(1){
                h2{
                 font-size: 2vh;   
                }
                img{
                    height: 3vh;
                }
                p{
                    font-size: 1vh;
                }
                a{
                    font-size: 1vh;
                    padding: 1vh 1vh;
                }
            }
            &:nth-child(2){
                img{
                    height: auto;
                    width: 100%;
                }
            }
        }
    }
}
