.btnCarousel{
    width: 10%;
    height: 2vh;
    margin: 3%;
    justify-content: space-around;
    margin-top: 8vh;
    button{
        width: 2.2vh;
        height: 95%;
        border-radius: 50%;
        outline: none;
        background-color: white;
        border: solid black 1px;
    }
}

.base{
    transition: 2s;
}
.left{
    animation: slide_left;
    animation-duration: 1s;
    left: 50%;
    top: -287px;
}
.right{
    animation: slide_right;
    animation-duration: 1s;
    left: 0%;
}
@keyframes slide_right{
    from{
        left: 0;
    }
    to{
        left: 100%;
    }
}
@keyframes slide_left{
    from{
        left: -100%;    
        top: -287px;
    }
    to{
        left: 0%;
        top: -287px;
    }
}