.btnCaroussel{
    width: 10%;
    height: 2vh;
    margin: 3%;
    justify-content: space-around;
    button{
        width: 1vw;
        height: 80%;
        border-radius: 50%;
        outline: none;
        background-color: white;
        border-style: solid black;
    }
}
