#signIn{
    position: fixed;
    z-index: 1;
    width: 100%;
}
#signIn>form{
    border: 2px solid black;
    border-radius: 25px;
    height: 40vh;
    width: 30vw;
    background-color: #f3f3f3;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.75) 3px 0px 300px 200px;
}
#signIn>form>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 80%;
}
#signIn>form>div>i{
    position: absolute;
    right: 5%;
    top: 5%;
}
#signIn>form>div>input{
    width: 75%;
    padding: 5%;
    margin: 1% 0;
}
#signIn>div{
    position: absolute;
    top: 85%;
    left: 43%;
    display: flex;
    width: 80%;
}
#signIn>form>div>div{
    position: absolute;
    top: 50%;
    left: 85%;
}
#signIn>form>div>a{
    color: black;
}
#signIn>form>div>button, #signIn>div>button, #signUp>form>div>button, #signUp>div>button{
    border: #dd4545;
    padding: 1vh 3vh;
    margin-left: 2%;
    font-size: 1.5vh;
    background-color: #dd4545;
    color: white;
    border-radius: 50px;
    text-decoration: none;
}
