@import "./header.scss";
@import "./tripleText.scss";
@import "./recents.scss";
@import "./learn.scss";
@import "./hot.scss";
@import "./learn2.scss";
@import "./footer.scss";

@import "./signIn.scss";
@import "./signUp.scss";

html{
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: 'Questrial', sans-serif;
}


