.tripleText{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10vh;
    div{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 33vw;
        height: 25vh;
        margin: 10px;
        background-size: cover;
        &:nth-child(1){
            background-image: url("../img/services/service-1.jpg");
        }
        &:nth-child(2){
            background-image: url("../img/services/service-2.jpg");
        }
        &:nth-child(3){
            background-image: url("../img/services/slider-3.jpg");    
        }   
        &:before{
            content: "";
            position: absolute;
            width: 36%;
            top: 15vh;
            height: 3px;
            left: 15%;
            background-color: #fffefd;
            transition: 2s;
        }
        &:hover:before{
            width: 2vw;
            left: 45%;
        }
        &:after{
            content: "";
            position: absolute;
            width: 36%;
            top: 15vh;
            height: 3px;
            left: 50%;
            background-color: #fffefd;
            transition: 2s;
        }
        &:hover:after{
            width: 2vw;
        }
        position: relative;
        h2{
            font-size: 4vh;
            margin-bottom: 5vh;
            color: #fffefd;
            font-weight: 100;
        }
    }
}
@media only screen and (max-width:321px){
    .tripleText{
        display: inline;
        div{
        width: 100%;
        }

    }
}
