header .logo {
  color: #2d3034;
  text-align: center;
  margin: 8vh 0;
}
header .logo h1 {
  font-size: 6vh;
}

nav {
  margin: auto;
  background-color: white;
  display: flex;
  justify-content: space-between;
  width: 60%;
  color: #6c757d;
}
nav div {
  display: flex;
  margin-left: 2%;
  margin-right: 2%;
}
nav button {
  background-color: white;
  border: 0;
}
nav button:focus {
  text-decoration: none;
}

#white {
  background-color: white;
  border-radius: 10%;
  border: grey solid 1px;
  padding: 1vh;
  height: 0;
  margin-top: 2vh;
}

#black {
  background-color: black;
  border-radius: 10%;
  border: grey solid 1px;
  padding: 1vh;
  height: 0;
  margin-top: 2vh;
}

#connexion {
  margin: auto;
  height: 100%;
  border: 0;
  color: white;
  border-radius: 0;
  background-color: #6c757d;
  padding: 2vh;
}

.banner {
  display: flex;
  margin-top: 2%;
  background-color: #f3f3f3;
  height: 66vh;
  margin-bottom: 6vh;
}
.banner div {
  margin: auto;
}
.banner div:nth-child(1) {
  margin-top: 5%;
  margin-left: 39vh;
}
.banner div:nth-child(1) h2 {
  font-size: 6vh;
  color: #dd4545;
  margin-bottom: 2vh;
}
.banner div:nth-child(1) img {
  height: 12vh;
}
.banner div:nth-child(1) p {
  font-size: 2vh;
  color: #6c757d;
  margin-bottom: 5vh;
}
.banner div:nth-child(1) a {
  border: #dd4545;
  padding: 2vh 3vh;
  margin-left: 2%;
  font-size: 1.5vh;
  background-color: #dd4545;
  color: white;
  border-radius: 50px;
  text-decoration: none;
}
.banner div:nth-child(2) img {
  height: 60vh;
  width: 80%;
}

.tripleText {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10vh;
}
.tripleText div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33vw;
  height: 25vh;
  margin: 10px;
  background-size: cover;
  position: relative;
}
.tripleText div:nth-child(1) {
  background-image: url("../img/services/service-1.jpg");
}
.tripleText div:nth-child(2) {
  background-image: url("../img/services/service-2.jpg");
}
.tripleText div:nth-child(3) {
  background-image: url("../img/services/slider-3.jpg");
}
.tripleText div:before {
  content: "";
  position: absolute;
  width: 36%;
  top: 15vh;
  height: 3px;
  left: 15%;
  background-color: #fffefd;
  transition: 2s;
}
.tripleText div:hover:before {
  width: 2vw;
  left: 45%;
}
.tripleText div:after {
  content: "";
  position: absolute;
  width: 36%;
  top: 15vh;
  height: 3px;
  left: 50%;
  background-color: #fffefd;
  transition: 2s;
}
.tripleText div:hover:after {
  width: 2vw;
}
.tripleText div h2 {
  font-size: 4vh;
  margin-bottom: 5vh;
  color: #fffefd;
  font-weight: 100;
}

.recents {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-behavior: smooth;
  margin-bottom: 10vh;
  position: relative;
}
.recents h3 {
  color: #2d2f32;
  margin-bottom: 5vh;
  font-size: 3.3vh;
}
.recents div {
  display: flex;
}
.recents div div {
  display: flex;
  flex-direction: column;
}
.recents div div:nth-child(1) {
  margin-left: -5%;
}
.recents div div:nth-child(2) {
  margin-left: 5%;
}
.recents div div:nth-child(3) {
  margin-left: 5%;
}
.recents div div:nth-child(4) {
  margin-left: 5%;
}
.recents div div img {
  height: 29vh;
  width: 18vw;
}
.recents div div p:nth-child(3) {
  color: #dd4545;
  margin: 0;
}
.recents div div .sale {
  flex-direction: row;
}
.recents div div .sale div {
  margin: 0;
}
.recents div div div {
  display: flex;
  margin: 1% 0;
}
.recents div div div p:nth-child(2) {
  color: #dd4545;
  margin: 0;
}
.recents div div div p:nth-child(2) span {
  color: grey;
  text-decoration: line-through;
}
.recents div div div div {
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.recents div div div div:nth-child(1) {
  justify-content: center;
  align-items: center;
}
.recents div div div div:nth-child(1) p {
  width: 5vh;
  border-radius: 5vh;
  background-color: #dd4545;
  color: white;
  line-height: 325%;
  font-size: 1.5vh;
  padding: 1vh;
}

.zoomIn {
  height: 35vh !important;
  width: 25vw !important;
  transition: 1s;
}

.zoomOut {
  height: 29vh !important;
  width: 18vw !important;
  transition: 1s;
}

section:nth-child(4) {
  background: url("../img/cta-bg.jpg");
  position: relative;
  background-size: cover;
  width: 100%;
  height: 80vh;
  background-position: center;
  margin-top: 12vh;
  margin-bottom: 6vh;
}
section:nth-child(4) div h2 {
  font-size: 6vh;
  font-weight: 100;
  position: absolute;
  top: 34%;
  left: 23%;
  color: white;
}
section:nth-child(4) div a {
  font-size: 1.5vh;
  position: absolute;
  top: 50%;
  left: 45%;
  background-color: #dd4545;
  color: white;
  border: #dd4545;
  padding: 1.5vh;
  border-radius: 5px;
}

#HotProducts {
  overflow: hidden;
  height: 60vh;
}
#HotProducts h3 {
  margin-bottom: 10%;
}

#carousel1, #carousel2, #carousel3, #carousel4 {
  position: absolute;
  top: 15%;
}

.btnCarousel {
  width: 10%;
  height: 2vh;
  justify-content: space-around;
  position: absolute;
  top: 55vh;
}
.btnCarousel button {
  width: 2.2vh;
  height: 95%;
  border-radius: 50%;
  outline: none;
  background-color: white;
  border: solid black 1px;
}

.left {
  animation: slide_left;
  animation-duration: 1s;
}

.right {
  animation: slide_right;
  animation-duration: 1s;
}

@keyframes slide_right {
  from {
    left: 100%;
  }
  to {
    left: 13.5%;
  }
}
@keyframes slide_left {
  from {
    left: 13.5%;
  }
  to {
    left: -100%;
  }
}
#divClip {
  clip-path: inset(0);
  margin: 0;
}

section:nth-child(6) {
  text-align: center;
  display: flex;
  margin-bottom: 5vh;
}
section:nth-child(6) div:nth-child(1) {
  padding-top: 3vh;
  background-color: #f3f2f3;
  margin-right: 3vh;
}
section:nth-child(6) div:nth-child(1) i {
  margin-top: 3vh;
  font-size: 3vh;
}
section:nth-child(6) div:nth-child(1) p:nth-child(2) {
  margin-top: 4vh;
  font-weight: bold;
}
section:nth-child(6) div:nth-child(1) p:nth-child(3) {
  margin: 0 6vh;
  margin-bottom: 5vh;
  margin-top: 6vh;
  color: gray;
}
section:nth-child(6) div:nth-child(1) button {
  color: white;
  background-color: #41474d;
  margin-bottom: 4vh;
  border-radius: 4px;
  border: #41474d;
  padding: 1vh;
}
section:nth-child(6) div:nth-child(1):hover {
  background-color: #dd4545;
  color: white;
}
section:nth-child(6) div:nth-child(1):hover p {
  color: white;
}
section:nth-child(6) div:nth-child(1):hover button {
  color: #41474d;
  background-color: white;
}
section:nth-child(6) div:nth-child(2) {
  padding-top: 3vh;
  background-color: #f3f2f3;
  margin-right: 3vh;
}
section:nth-child(6) div:nth-child(2) i {
  margin-top: 3vh;
  font-size: 3vh;
}
section:nth-child(6) div:nth-child(2) p:nth-child(2) {
  margin-top: 4vh;
  font-weight: bold;
}
section:nth-child(6) div:nth-child(2) p:nth-child(3) {
  margin: 0 6vh;
  margin-bottom: 5vh;
  margin-top: 6vh;
  color: gray;
}
section:nth-child(6) div:nth-child(2) button {
  color: white;
  background-color: #41474d;
  margin-bottom: 4vh;
  border-radius: 4px;
  border: #41474d;
  padding: 1vh;
}
section:nth-child(6) div:nth-child(2):hover {
  background-color: #dd4545;
  color: white;
}
section:nth-child(6) div:nth-child(2):hover p {
  color: white;
}
section:nth-child(6) div:nth-child(2):hover button {
  color: #41474d;
  background-color: white;
}
section:nth-child(6) div:nth-child(3) {
  padding-top: 3vh;
  background-color: #f3f2f3;
  margin-right: 3vh;
}
section:nth-child(6) div:nth-child(3) i {
  margin-top: 3vh;
  font-size: 3vh;
}
section:nth-child(6) div:nth-child(3) p:nth-child(2) {
  margin-top: 4vh;
  font-weight: bold;
}
section:nth-child(6) div:nth-child(3) p:nth-child(3) {
  margin: 0 6vh;
  margin-bottom: 5vh;
  margin-top: 6vh;
  color: gray;
}
section:nth-child(6) div:nth-child(3) button {
  color: white;
  background-color: #41474d;
  margin-bottom: 4vh;
  border-radius: 4px;
  border: #41474d;
  padding: 1vh;
}
section:nth-child(6) div:nth-child(3):hover {
  background-color: #dd4545;
  color: white;
}
section:nth-child(6) div:nth-child(3):hover p {
  color: white;
}
section:nth-child(6) div:nth-child(3):hover button {
  color: #41474d;
  background-color: white;
}

a {
  text-decoration: none;
  color: white;
}

footer {
  display: flex;
  flex-direction: column;
  color: #f3f2f3;
}

footer > div {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

footer > div > div {
  width: 33%;
  margin: 0 1%;
  color: #f3f2f3;
}

footer > div:nth-child(1) {
  padding: 2% 0;
  background-color: #343A40;
}

footer > div:nth-child(1) > div:nth-child(1) {
  padding-left: 20%;
}

footer > div:nth-child(1) > div:nth-child(1) > p {
  color: gray;
}

footer > div:nth-child(1) > div:nth-child(2) > ul {
  padding: 0;
  list-style: none;
}

footer > div:nth-child(1) > div:nth-child(2) > ul > li {
  padding: 2% 0;
}

footer > div:nth-child(1) > div:nth-child(2) > ul > li:before {
  content: ">";
}

footer > div:nth-child(1) > div:nth-child(3) {
  padding-right: 20%;
}

footer > div:nth-child(1) > div:nth-child(3) > div:nth-child(2) {
  flex-direction: row;
  flex-wrap: wrap;
}

footer > div:nth-child(1) > div:nth-child(3) > div:nth-child(2) > a {
  color: gray;
  padding: 3%;
  border: 2px solid gray;
  border-radius: 5px;
  margin-top: 3%;
  display: inline-block;
}

footer > div:nth-child(2) {
  background-color: black;
  height: 8vh;
  margin: auto;
  color: gray;
  align-items: center;
}

#signIn {
  position: fixed;
  z-index: 1;
  width: 100%;
}

#signIn > form {
  border: 2px solid black;
  border-radius: 25px;
  height: 40vh;
  width: 30vw;
  background-color: #f3f3f3;
  margin: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.75) 3px 0px 300px 200px;
}

#signIn > form > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 80%;
}

#signIn > form > div > i {
  position: absolute;
  right: 5%;
  top: 5%;
}

#signIn > form > div > input {
  width: 75%;
  padding: 5%;
  margin: 1% 0;
}

#signIn > div {
  position: absolute;
  top: 85%;
  left: 43%;
  display: flex;
  width: 80%;
}

#signIn > form > div > div {
  position: absolute;
  top: 50%;
  left: 85%;
}

#signIn > form > div > a {
  color: black;
}

#signIn > form > div > button, #signIn > div > button, #signUp > form > div > button, #signUp > div > button {
  border: #dd4545;
  padding: 1vh 3vh;
  margin-left: 2%;
  font-size: 1.5vh;
  background-color: #dd4545;
  color: white;
  border-radius: 50px;
  text-decoration: none;
}

#signUp {
  position: fixed;
  z-index: 1;
  width: 100%;
}

#signUp > form {
  border: 2px solid black;
  border-radius: 25px;
  height: 40vh;
  width: 25vw;
  background-color: #f3f3f3;
  margin: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.75) 3px 0px 300px 200px;
}

#signUp > form > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 80%;
}

#signUp > form > div > i {
  position: absolute;
  right: 5%;
  top: 5%;
}

#signUp > form > div > input {
  width: 75%;
  padding: 5%;
  margin: 1% 0;
}

#signUp > div {
  position: absolute;
  top: 85%;
  left: 43%;
  display: flex;
  width: 80%;
}

#signUp > form > div > div {
  position: absolute;
  top: 53%;
  left: 85%;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Questrial", sans-serif;
}

[hidden] {
  display: none !important;
}

/*# sourceMappingURL=app.css.map */
